.input-box{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
input{
    width: 60%;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: 700;
    border-radius: 20px;
    line-height: 20px;
    text-transform: capitalize;
}
.input-search{
    padding:  8px 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.temperature{
    text-align: center;
    letter-spacing: 5px;
}
.data-button{
    border: none;
    padding : 5px 6px;
    background-color: white;
    border-radius: 20px;
    font-size: 22px;
}