@import url('https://fonts.googleapis.com/css2?family=Signika:wght@100;300;400;500;600&display=swap');
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color:white;
  font-family: 'Signika', sans-serif;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


